:root {
  --background: #111;
  --text-primary: #fff;
  --text-secondary: #aaa;
  --input-bg: #222;
  --accent: #c6a3ff;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--text-primary);
  /* font-family: sans-serif; */
  font-family: Georgia, 'Times New Roman', Times, serif;

  /* setting this to 100% view height ensures no scrolling */
  min-height: 100vh;

  /* flexbox settings */
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  text-align: center;
  margin-bottom: 10vh;
}

h1 {
  /* rem means relative to root font size */
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.1em;
}

p {
  font-size: 1.2rem;
  margin-top: 0;
  color: var(--text-secondary);
}

#logo {
  width: 100%;
  height: 100%;
  /* background-color: var(--input-bg); */
  background-color: #fff8f5;
  border-radius: 50%;
  /* margin: 0 auto 2rem; */
}

input[type="email"] {
  background-color: var(--input-bg);
  color: var(--text-primary);
  border: 2px solid var(--input-bg);
  border-radius: 8px;
  padding: 15px 20px;
  width: 100%;
  max-width: 400px;
  font-size: 1.2em;

  /* this border-box setting's the one that centers the form */
  box-sizing: border-box;
  text-align: center;

  /* kapag sa :focus nakaset ang transition hindi nage-ease out */
  transition: border-color 0.3s ease;
}

input[type="email"]:focus {
  outline: none;
  border-color: var(--accent);
}

input[type="email"]::placeholder {
  color: var(--text-secondary);
}
