:root {
  --background: #111;
  --text-primary: #fff;
  --text-secondary: #aaa;
  --input-bg: #222;
  --accent: #aba;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--text-primary);
  /* font-family: sans-serif; */
  font-family: Georgia, 'Times New Roman', Times, serif;

  /* setting this to 100% view height ensures no scrolling */
  min-height: 100vh;

  /* flexbox settings */
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  text-align: center;
  margin-bottom: 10vh;
}

h1 {
  /* rem means relative to root font size */
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.1em;
}

p {
  font-size: 1.2rem;
  margin-top: 0;
  color: var(--text-secondary);
}

#logo {
  width: 100%;
  height: 100%;
  /* background-color: var(--input-bg); */
  background-color: #fff8f5;
  border-radius: 50%;
  /* margin: 0 auto 2rem; */
  /* margin-bottom: 1rem; */
}

input[type="email"] {
  background-color: var(--input-bg);
  color: var(--text-primary);
  border: 2px solid var(--input-bg);
  border-radius: 8px;
  padding: 15px 20px;
  width: 100%;
  max-width: 400px;
  font-size: 1.2em;

  /* this border-box setting's the one that centers the form */
  box-sizing: border-box;
  text-align: center;

  /* kapag sa :focus nakaset ang transition hindi nage-ease out */
  transition: border-color 0.3s ease;
}

input[type="email"]:focus {
  outline: none;
  border-color: var(--accent);
}

input[type="email"]::placeholder {
  color: var(--text-secondary);
}

input.invalid {
  border-color: #dc3545 !important;
}

/*
============================================================
UTILITY CLASSES
============================================================
*/
.error-message {
  color: #dc3545;
  /* red for errors */
  font-size: 0.93rem;
  margin-top: 0.5rem;
  display: block;
  height: 1.2rem;
  /* visibility: hidden; */
}

.editing {
  color: var(--text-secondary)
}

.hidden {
  display: none !important;
}

/*
============================================================
DYNAMICALLY CREATED ELEMENTS
============================================================
*/
.name-input {
  background-color: var(--input-bg);
  color: var(--text-primary);
  border: 2px solid var(--input-bg);
  border-radius: 8px;
  padding: 15px 20px;
  font-size: 1.2rem;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  text-align: center;
  transition: border-color 0.3s ease;
  margin-top: 1rem;
  /* Space above the name input */
}

.name-input:focus {
  outline: none;
  border-color: var(--accent);
}

.name-input::placeholder {
  color: var(--text-secondary);
}

/*
============================================================
RESPONSIVE STYLES
============================================================
*/

/* Responsive Styles (mobile) */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  /* i also want the email form placeholder to be smaller */
  p,
  input[type="email"] {
    font-size: 1rem;
  }

  /* input[type="email"] { */
  input {
    max-width: 300px;
    padding: 12px 15px;
  }
}
