body {
  margin: 0;
  background: #111;
  color: #fff8f5;
  font-family: sans-serif;

  min-height: 100vh;

  display: flex;

  justify-content: center;
  align-items: center;
}

main {
  text-align: center;
  margin-bottom: 10vh;
}

div {
  border: 2px solid white;
}

#logo {
  color: #fff8f5;
}
